* {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, helvetica, sans-serif;
	font-size: 11pt;
}

html,body { width: 100%; height: 100%; }

header {
   height: 62px;
	top: 0;
   position: relative;
	background-color:#86b1ef;			
}

nav ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
  border-right: 1px solid #fff;
  line-height: 58px;
  padding: 3px 5px 3px 5px;
  color: white;
}

nav ul li:last-child {
  border-right: none;
}

nav ul li a, nav ul li a:link, nav ul li a:visited {
	 color: white;
	 text-decoration:none;
}

.logo {
	margin-left: 2px;
	font-size: 27pt;
   font-family: helvetica;
	width: 30%;
}

.logo small {
	font-size: 14pt;
}

.saludo {
  width: 29%;
  text-align: center;
}

.busqueda {
  float: right;
}

.busqueda input[type=button] {
    padding: 6px;
    background: #f5f7f9;
    border: none;
    cursor: pointer;
	 color: #86b1ef;
}

.busqueda input[type=text] {
  padding: 6px;
  border: none;
  margin-right: 10px;
}

section { 
  width: 95%;
  margin-top:10px;
  margin-bottom:80px;
  margin-left: auto;
  margin-right: auto;
}
			
footer {
  width: 100%;
  position: fixed;	
  bottom: 0;
  padding: 1rem;
  background-color: #86b1ef;
  text-align: center;
  height: 20px;	
  font-size: 9pt;
}

.busqueda input[type=button] {
  padding: 6px;
  background: #f5f7f9;
  border: none;
  cursor: pointer;
  color: #86b1ef;
  }
  .busqueda input[type=text] {
  padding: 6px;
  border: none;
  margin-right: 10px;
  }
 